html {
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	background-color: #99a8ff;
	background-image: radial-gradient(
			at 85% 18%,
			hsla(324, 92%, 60%, 1) 0px,
			transparent 50%
		),
		radial-gradient(at 26% 62%, hsla(317, 91%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 57% 44%, hsla(131, 90%, 63%, 1) 0px, transparent 50%),
		radial-gradient(at 70% 6%, hsla(353, 76%, 63%, 1) 0px, transparent 50%),
		radial-gradient(at 54% 59%, hsla(94, 92%, 79%, 1) 0px, transparent 50%);
}

body {
	margin: 0;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#navBar {
	box-sizing: border-box;
	position: sticky;
	top: 0;
}
/*-----------------------NAV--------------------------*/
#navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	background: rgba(0, 0, 0, 0.117);
}

#navBar li a {
	display: block;
	color: rgb(45, 45, 46);
	font-size: 1rem;
	font-weight: 550;
	text-align: center;
	padding: 1.25rem 1rem;
	text-decoration: none;
	border-radius: 5px;
	float: left;
}

#navBar li:last-child a {
	float: right;
	border-right: none;
	border-radius: 5px;
}

#navBar li a:hover {
	background-color: rgba(255, 181, 228, 0.231);
	opacity: 80%;
}

/*-----------------------HEADER--------------------------*/
#header {
	margin-top: 3rem;
	margin-bottom: 2rem;
	margin-left: 35%;
	width: 30vw;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}

#header img {
	opacity: 90%;
	margin-bottom: 1rem;
	min-width: 10rem;
	min-height: 10rem;
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0.85rem 0.75rem 3rem #4b5d8fb5;
}

#header h3 {
	z-index: 10;
	margin-top: 2rem;
	margin-bottom: auto;
	font-size: 40pt;
	cursor: pointer;

	/* Fallback: Set a background color. */
	background-color: #18c873;

	/* Create the gradient. */
	background-image: linear-gradient(
		45deg,
		#5c73f3 16.333%,
		#99d6ff 16.333%,
		#99a8ff 33.333%,
		rgb(103, 167, 210) 33.333%,
		rgb(86, 42, 243) 50%,
		rgb(120, 58, 245) 50%,
		rgb(195, 80, 248) 70%
	);

	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
	background-clip: text;

	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	/* Animate the text when loading the element. */
	/* This animates it on page load and when hovering out. */
	animation: rainbow-text-simple-animation-rev 0.75s
		cubic-bezier(0.76, 0.61, 0, 1.09) forwards;
}

#header h3:hover {
	z-index: 10;
	animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

#intro-body {
	text-align: center;
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
}

#intro-body p {
	font-size: 1.75rem;
	font-weight: 500;
}

#intro-body p:last-child {
	margin-top: 2rem;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
	0% {
		background-size: 650%;
	}
	40% {
		background-size: 650%;
	}
	100% {
		background-size: 100%;
	}
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
	0% {
		background-size: 100%;
	}
	80% {
		background-size: 650%;
	}
	100% {
		background-size: 650%;
	}
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.circles {
	position: absolute;
	margin: 0rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 2vw;
	height: 3.5vh;
	background: rgba(255, 255, 255, 0.2);
	animation: circle-animation 25s linear infinite;
	bottom: -15rem;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 8vw;
	height: 14vh;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 5vw;
	height: 8.75vh;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 5vw;
	height: 8.75vh;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 7vw;
	height: 12.25vh;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 2vw;
	height: 3.5vh;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 10vw;
	height: 17.5vh;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 12vw;
	height: 21vh;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 3vw;
	height: 5.25vh;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 2vw;
	height: 3.5vh;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 12vw;
	height: 21vh;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes circle-animation {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}

	75% {
		opacity: 1;
		border-radius: 45%;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}
